<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <%= stylesheet_link_tag "all_comments" %>
</head>
<body>
    <div id="parent_id">
        <div id="child_id">
            <h1><b>Comments</b></h1>
            <div>
                <% @comments.each do |comment| %>
                    <div class="profile-container">
                        <div id="profile_pic">
                            <% if User.find(comment.user_id).profile_pic.attached? %>
                                <%= image_tag User.find(comment.user_id).profile_pic, class: "profile-pic" %>
                            <% end %>
                        </div>
                        <h4 id="profile_name"><%= User.find(comment.user_id).profile_name %></h4>
                    </div>
                    <p><%= comment.body %></p>
                <% end %>
            </div>
        </div>
    </div>
</body>
</html>
