<h1>Follows#all_followed</h1>
<p>Find me in app/views/follows/all_followed.html.erb</p>
 <h1><strong> Followed : <%= current_user.active_relationships.count %></strong> </h1>
    <h1><strong> Follower: <%= current_user.passive_relationships.count %></strong> </h1>
           
